@import "../../styles/variables";
@import "../../styles/functions";

.sidebar-toggle-button {
    position: fixed;
    top: 50px;
    left: 0;
    background: white;
    height: 50px;
    width: 50px;
    border-radius: 25px 0 0 25px;
    border: none;
    color: #1d1e2a;

    &:before, &:after {
        display: block;
        content: " ";
        position: absolute;
        z-index: -1;
        right: 0;
        width: 25px;
        height: 50px;
        background: #1d1e2a;
    }

    &:before {
        top: -50px;
        border-radius: 0 0 25px 0;
        box-shadow:
                0px 25px 0px 0px #fff,
                0px 40px 0px 0px #fff;
    }

    &:after {
        bottom: -50px;
        border-radius: 0 25px 0 0;
        box-shadow: 0px -25px 0px 0px #fff, 0px -40px 0px 0px #fff;
    }

    i {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.sidebar-wrapper {
    position: sticky;
    width: 250px;
    height: 100vh;
    margin-top: -100vh;
    z-index: 3000;
    top: 0;
    left: max(calc((100vw - $content-size)/2) - 250px, 0px);

    @include media("tablet", "phone") {
        position: fixed;
        margin-top: 0;
        visibility: hidden;
    }

    &.shown {
        visibility: visible;
    }

    &:before {
        position: absolute;
        display: block;
        content: " ";
        left: calc(0px - ((100vw - $content-size) / 2) + 250px);
        width: max(calc(((100vw - $content-size)/2)), 0px);
        height: 100vh;
        background-color: #1D1E2A;
    }

    @include media("lg-desktop", "desktop", "sm-desktop") {
        &:hover .sidebar {
            left: 0px;
            width: 210px;
            transition-delay: 0s;

            .sidebar-element {
                cursor: pointer;
                .sidebar-element-content {
                    .sidebar-element-label {
                        transition-delay: 0.15s;
                        opacity: 1;
                    }
                }
            }
        }
    }

    .sidebar {
        border-radius: 0 0 0 50px;
        display: flex;
        position: absolute;
        left: 150px;
        width: 60px;
        height: calc(100vh - 40px);
        flex-direction: column;
        padding: 20px;
        background-color: #272838;
        transition: 0.25s;
        transition-property: width, left;
        transition-delay: 0.15s;

        @include media("tablet", "phone") {
            left: 0;
            width: calc(100vw - 40px);

            .sidebar-element {
                .sidebar-element-content {
                    .sidebar-element-label {
                        opacity: 1 !important;
                    }
                }
            }

            &:before {
                position: absolute;
                display: block;
                content: " ";
                top: 0;
                left: -100vw;
                width: 100vw;
                height: 100vh;
                background-color: #272838;
            }
        }

        .sidebar-element {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 60px;
            z-index: 100;
            color: white;
            transition: color 0.25s;
            overflow: hidden;

            &.active {
                color: #1D1E2A;
            }

            .sidebar-element-content {
                display: flex;
                overflow: visible;

                .sidebar-element-icon {
                    width: 60px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }

                .sidebar-element-label {
                    vertical-align: middle;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 29px;
                    transition: 0.25s;
                    transition-property: opacity;
                    opacity: 0;
                }

                .gg-home-alt {
                    margin-top: 6px;
                    --ggs: 1.33;
                }

                .gg-home-stack {
                    margin-top: 7px;
                }

                i {
                    margin: 0 20px;
                    --ggs: 1.2
                }
            }
        }

        .sidebar-element {
            &:nth-child(1).active ~ .indicator {
                top: 20px;
            }
            &:nth-child(2).active ~ .indicator {
                top: 80px;
            }
            &:nth-child(3).active ~ .indicator {
                top: 140px;
            }
            &:nth-child(4).active ~ .indicator {
                top: 200px;
            }
        }

        .indicator {
            right: 0;
            position: absolute;
            width: calc(100% - 20px);
            height: 60px;
            background-color: white;
            border-radius: 30px 0 0 30px;
            transition: 0.25s;
            z-index: 50;

            &:before, &:after {
                display: block;
                content: " ";
                position: absolute;
                z-index: -1;
                right: 0;
                width: 30px;
                height: 60px;
                background: #272838;
            }

            &:before {
                top: -60px;
                border-radius: 0 0 30px 0;
                box-shadow:
                    0px 30px 0px 0px #fff,
                    0px 40px 0px 0px #fff;
            }

            &:after {
                bottom: -60px;
                border-radius: 0 30px 0 0;
                box-shadow: 0px -30px 0px 0px #fff, 0px -40px 0px 0px #fff;
            }
        }
    }
}
